body {
	font-family: 'Play', sans-serif !important;
}

h1, h2, .nav-link, .btn {
	font-family: 'Russo One', sans-serif !important;
}

p {
	display: block;
}

.container-fluid {
	max-width: 1920px !important;
    padding: 0px !important;
    overflow: hidden !important;
}

.main {
    min-height: 76.5vh;
    background-color: #dedede;
}

.template-wrapper {
    position: relative;
}

.main-footer {
	background-color: #fff;

    .footer-socials {
        font-size: 30px;
    }
}

.box-shade {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rounded-button {
    border-radius: 100px !important;
}

.card-image {
    cursor: default;
    &.faded:hover {
        opacity: 0.8;
	    transition: .5s ease;
    }
}

.card-title {
    &.card-default {
        display: inline-block;
        color: #0d6efd;
        border-bottom: 2px solid #e3a900;
        width: 100%;
    }

    &.card-centered {
        display: inline-block;
        color: #000;
        font-weight: bold;
        width: 100%;
        text-align: center;
        padding: 1.25rem 0px;
    }
}

.card-text {
    &.card-default {
        text-align: start;
    }

    &.card-centered {
        text-align: center;
    }
}

.card-button {
	font-family: 'Play', sans-serif !important;
}

.card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb-wrapper {
    width: 100%;
    background-color: #030A15;
    padding: 0.75rem 1rem 0.75rem 3rem;
}

.breadcrumb {
    margin: 0px;
    color: #fff;

    .breadcrumb-item {
        cursor: pointer;
    }
    
    .active {
        color: #ffc008;
    }
}

.nav-tabs {
    cursor: pointer;
    text-transform: uppercase;

    .nav-link {
        border: none;

        &.active {
            color: #007bff;
            background-color: #dedede;
            border-bottom: 2px solid #ffc008;
        }
    }
}

.searchbar-wrapper {
    display: grid;
    grid-template-columns: 85% 15%;
    .searchbar {
        border-radius: 5px 0px 0px 5px !important;
        &.form-control {
            display: inline !important;
            width: 100% !important;
        }
    }
    
    .searchbar-icon {
        width: 50px;
        border-radius: 0px 5px 5px 0px !important;
    }
}

.sortby-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 0.5rem !important;

    .sortby-select {
        margin: 0px;
        padding: 0.5rem !important;
        border-radius: 10px;
        background-color: #fff;
        color: #000;
    }
}

.line-separator {
    border-bottom: 1px solid gray;
}

.page-header {
    border-bottom: 8px solid #e3a900;
}

.cart-wrapper {
    position: fixed;
    bottom: 60px;
    right: 60px;

    .cart-button {
        height: 60px;
        width: 60px;
        font-size: 1.5rem;
    }
}

/*Start of CSS Ruleset for Header*/

#navigation-bar {
    padding: 0.5rem 1rem;
}

#nav-logo-img {
	height: 50px !important;
	width: 50px !important;
}

#nav-logo-label {
	text-decoration: none;
}

.navbar {
	border-bottom: 7px solid #007bff;
	border-right: 10px solid #e3a900;

    .nav-link {
        color: #fff;
        &:hover {
            color: #b88c07;
        }
        &.active {
            color: #ffc008;
        }
    }
}

.nav-link {
    display: unset !important;
}

.select-default {
    &:invalid {
        color: gray !important;
        option {
            color: #000;
        }
    }

    option[value=""] {
        color: gray;
    }
}

/*Start of CSS Ruleset for Error page*/

#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

/*Start of CSS Ruleset for Welcome page*/

.welcome-header {
    background-image: linear-gradient(rgba(255,255,255,.1),rgba(0,0,0,0.8) 80%), url(../public/images/lnd-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        margin-top: 2%;    
    }

    div {
        margin-top: 5%;
	    margin-bottom: 5%;
    }

    img {
        height: 150px;
	    width: 150px;
    }

    strong {
        color: #e2a800;
    }

    button {
        border: 3px solid #007bff;        
        padding: 12px 20px;	
        color: #fff;
        font-weight: bold;
    }

    button:hover {
        color: #000;
    }
}

.welcome-body {
    .welcome-featured {
        width: 100%;
	    height: 150px;
    }

    .featured-top {
        border-radius: 20px 180px;
    }

    .featured-bottom {
        border-radius: 180px 20px;
    }

    .welcome-subscribe-box {
        width: 90%;;
    }

    .welcome-subscribe-btn {
        margin-left: 10px;
    }

    label {
        margin-right: 5px;
    }
}

/*Start of CSS Ruleset for Home page*/

.carousel {
	border-bottom: 5px solid #030A15 !important;
}

.carousel-inner img {
	width: 100% !important;
	height: 100% !important;
}

.carousel-item {
	transition: transform 3s ease, opacity .5s ease-out !important;
}

.carousel-control-wrapper {
	border-radius: 100px;
}

.home-featured {
    height: 400px;
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
    
    .home-btn-wrapper {
        position: relative;
        height: 100%;
    }

    .home-featured-title {
        font-size: 30px;
    }

    .home-btn-container {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: 85%;
        margin-top: -85px;
    }
}

.lcs-teams-container {
    background-color: #030A15;
}

.lcs-partners {
    padding: 20px;
}

/*Start of CSS Ruleset for Shop page*/

/*Start of CSS Ruleset for About Us page*/

.about-header {
    background-image: 
	linear-gradient(rgba(255,255,255,.1),rgba(0,0,0,0.8) 60%),
	url(../public/images/abt-building-front.jpg);    
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}

.about-info {
    padding: 3rem 4rem 3rem 4rem;
}

/*Start of CSS Ruleset for Contact Us page*/

.contact-form-container {
    label {
        color: #fff;
    }

    textarea {
        height: 150px;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 0px; 
        box-sizing: border-box; 
        margin-top: 5px !important; 
        margin-bottom: 15px !important; 
        resize: none; 
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            background-color: #45a049;
        }
    }
}