body {
	font-family: 'Play', sans-serif !important;
}

h1, h2, .nav-link, .btn {
	font-family: 'Russo One', sans-serif !important;
}

p {
	display: block;
}

.container-fluid {
	max-width: 1920px !important;
    padding: 0px !important;
    overflow: hidden !important;
}

.main {
    min-height: 76.5vh;
    background-color: #dedede;
}

.main-footer {
	background-color: #fff;
}

.box-shade {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rounded-button {
    border-radius: 100px !important;
}

.card-title {
	display: inline-block;
    color: #0d6efd;
	border-bottom: 2px solid #e3a900;
    width: 100%;
}

.card-button {
	font-family: 'Play', sans-serif !important;
}

.breadcrumb-wrapper {
    width: 100%;
    background-color: #030A15;
    padding: 0.75rem 1rem 0.75rem 3rem;
}

.breadcrumb {
    margin: 0px;
    color: #fff;

    .breadcrumb-item {
        cursor: pointer;
    }
    
    .active {
        color: #ffc008;
    }
}

.nav-tabs {
    cursor: pointer;
    text-transform: uppercase;

    .nav-link {
        border: none;

        &.active {
            color: #007bff;
            background-color: #dedede;
            border-bottom: 2px solid #ffc008;
        }
    }
}

.searchbar {
	border-radius: 10px;
    margin-right: 5px;
    &.form-control {
        display: inline !important;
        width: auto !important;
        max-width: 100% !important;
    }
}

.searchbar-icon {
    margin: 0px 0px 2px 0px !important;
}

/*Start of CSS Ruleset for Header*/

#navigation-bar {
    padding: 0.5rem 1rem;
}

#nav-logo-img {
	height: 50px !important;
	width: 50px !important;
}

#nav-logo-label {
	text-decoration: none;
}

.navbar {
	border-bottom: 7px solid #007bff;
	border-right: 10px solid #e3a900;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #ffc008;
}

.nav-link {
    display: unset !important;
}

/*Start of CSS Ruleset for Error page*/

#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

/*Start of CSS Ruleset for Welcome page*/

.welcome-header {
    background-image: linear-gradient(rgba(255,255,255,.1),rgba(0,0,0,0.8) 80%), url(../public/images/lnd-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        margin-top: 2%;    
    }

    div {
        margin-top: 5%;
	    margin-bottom: 5%;
    }

    img {
        height: 150px;
	    width: 150px;
    }

    strong {
        color: #e2a800;
    }

    button {
        border: 3px solid #007bff;        
        padding: 12px 20px;	
        color: #fff;
        font-weight: bold;
    }

    button:hover {
        color: #000;
    }
}

.welcome-body {
    .welcome-featured {
        width: 100%;
	    height: 150px;
    }

    .featured-top {
        border-radius: 20px 180px;
    }

    .featured-bottom {
        border-radius: 180px 20px;
    }

    .welcome-subscribe-box {
        width: 90%;;
    }

    .welcome-subscribe-btn {
        margin-left: 10px;
    }

    label {
        margin-right: 5px;
    }
}

/*Start of CSS Ruleset for Home page*/

.carousel {
	border-bottom: 5px solid #030A15 !important;
}

.carousel-inner img {
	width: 100% !important;
	height: 100% !important;
}

.carousel-item {
	transition: transform 3s ease, opacity .5s ease-out !important;
}

.carousel-control-wrapper {
	border-radius: 100px;
}

.home-featured {
    height: 400px;
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
    
    .home-btn-wrapper {
        position: relative;
        height: 100%;
    }

    .home-featured-title {
        font-size: 30px;
    }

    .home-btn-container {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: 85%;
        margin-top: -85px;
    }
}

.lcs-teams-container {
    background-color: #030A15;
}

.lcs-partners {
    padding: 20px;
}

/*Start of CSS Ruleset for Shop page*/

